@CHARSET "UTF-8";

.wrap-loading {
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: rgba(0,0,0,0.2);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');
}

.wrap-loading div {
	position: fixed;
	top: 45%;
	left: 45%;	
}

.wrap-loading img {
  border-radius: 100px;
}

.display-none {
	display: none;
}