.rcp-up-preview {
    margin-top: 55px;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-left: 40px;
} 

.file-upload-wrapper {
    position: absolute;
    top: 0px;
    z-index: 20;
    display: block;
    width: 100%;
    height: 160px;
}

.file-upload-native, .file-upload-text {
    display: block;
    width: 100%;
    height: 166px;
    cursor: pointer;
    padding-top: 54px;
    padding-left: 40px;
    padding-right: 46px;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
    outline: none;
}

.file-upload-text {
    z-index: 10;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: rgb(144, 162, 148);
    border: 0;
    background-color: transparent;
}

.file-upload-native {
    z-index: 15;
    opacity: 0;
}

.rcp-laytext {
  padding-top: 7%;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
  height: 100%;
}

.rcp-userinfo-save-btn{
	float: none !important;
  margin-top: 7%;
}