@CHARSET "UTF-8";
$main: #7b7de5;

:root {
  font-size: 16px;
}

/* .rcp-innnersec input{
	height:5em;
	font-size: 2.5em;
	width: 100%;
} */

/* 버튼 0810수정*/
.goMyPageBtn {
    display: block;
    width: 170px;
    height: 40px;
    padding: 0;
    margin: 10px 20px 10px;
    font-weight: 700;
    color: #fff;
    background-color: #e80000;
    border: none;
    border-radius: 20px;
    transition: background-color .10s ease-in-out;
}

.goWriteRcpBtn {
    display: block;
    width: 170px;
    height: 40px;
    padding: 0;
    margin: 10px 20px 10px;
    font-weight: 700;
    color: #fff;
    background-color: #e80000;
    border: none;
    border-radius: 20px;
    transition: background-color .10s ease-in-out;
}


#editUserInfo-pop-up-banner {
  display: none;
  width: 582px;
  height: 400px !important;
  background: #ffffff;
}

.rcp-infobox-text{
    color:#ffffff ;
}

.rcp-layer-infobox {
 background-color: #F2F2F2;
 border: 1px;
 width: 23em;
 height: 33em;
 position: absolute;
 top: 10em;
 left: 43em;
 display: none;
 z-index: 10001;
}

.rcp-img{
  width:30px;
  height:30px;
  margin-right: 6px;
}
.rcp-nickname {
  color: #fff; font-size : 17pt;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .001em;
}

.rcp-menuname {
  color: #fff;
  font-size: 11pt;
  text-align: center;
  font-weight: bold;
}

.rcp-img {
  /* background-size: 100px 100px; */
  background-size: 100% 100%;
}

.rcp-back {
  color: #b51515; font-size : 11pt;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  font-size: 11pt;
}

/* 0810수정 */
.rcp-btn-nav {
  /* color: #b51515;
  font-weight: bold;
  margin-top: 1.3em;
  margin-bottom: 1em; */
      font-weight: bold;
    margin-top: 1.3em;
    margin-bottom: 1em;
    color: #fff;
    background-color: #e80000;
    border: none;
    border-radius: 20px;
}

.rcp-outline {
  /* width: 210px;
  height: 336px; */
  width:15em;
  height:100%;
  margin: 1rem;
}

.rcp-barimg {
  width: 3.2em;
  height: 3.2em;
  cursor: pointer;
  
}

html, body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-family: $font;
}

.main-nav {
  display: flex;
  height: 4rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
}


.main-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  font-style: normal;
  padding: 0 1rem;
}

.main-nav__inner-nav {
  position: relative;
  
  > a:not(.profile-dropdown-trigger):not(.dropdown-trigger--mobile) {
    padding: 0 .5rem;
    margin: 0 .25rem;
    color: $main;
    font-weight: 500;
    
    @media(max-width: 1000px) {
      display: none;
    }
  }
}

.profile-dropdown-trigger {
  margin: 0 .25rem;
}

.dropdown-trigger--mobile {
  position: relative;
  top: .75rem;
  margin-right: .75rem;
  
  @media(min-width: 1000px) {
    display: none;
  }
  
  i {
    font-size: 2rem;
    color: $main;
  }
}

.mobile-menu-dropdown {
    @media(min-width: 1000px) {
    display: none;
  }
}

.profile-dropdown-trigger {
  position: relative;
  
  &:after {
    font-family:'Material Icons';
    content: '\E5C5';
    top: 50%;
    color: #777;
  }
  
  img {
    border: 3px solid #eee;
    padding: .1rem;
    height: 3.25rem;
    width: auto;
    border-radius: 50%;
  }
}

.main-nav__dropdown {
  position: absolute;
  background-color: rgba(10,10,10,.68); /* 0810수정 */
  top: 4em;
  right:-4.5em;
  min-width: 15em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2), 0 2px 14px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
  overflow: hidden;
  transition: 300ms ease;
  z-index: -1;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
}

.top-main-nav__dropdown {

  top: 10em;
  right: -8.5em;
 
}

.bottom-main-nav__dropdown {

  top: 5em;
  right: -7em;
}


.main-nav__dropdown.active {
  opacity: 1;
  z-index: 50;
  pointer-events: auto;
  transform: translateY(0px);
}

.dropdown__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  
  &:hover, &:focus {
    background: #f7f7f7;
  }
  
  img {
    height: 3rem;
    width: auto;
    border-radius: 50%;
  }
  
  .dropdown__name {
    color: #555;
    margin: .5rem 0 .25rem;
  }
  
  .dropdown__title {
    font-size: .85rem;
    color: #999;
  }
}

.dropdown__nav {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  
  a {
    color: $main;
    border-bottom: 1px solid #e5e5e5;
    padding: .5rem 1rem;
    // center vertically
    display: flex;
    
    span:not(.material-icons) {
      margin-left: .35rem;
    }
    
    &:hover, &:focus {
      background: #f7f7f7;
    }
  }
}

// globals

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}